<h2>Search Results</h2>
<h3>Builders:</h3>



{{#if builderRes}}

{{#each builderRes}}
{{#if imageUrl}}
<div class="builders-tile">
    <img id="all-profile-pic" src="{{imageUrl}}" alt="profile-pic">
    <h3><a href="/users/builder-profile/{{_id}}">{{username}}</a></h3>
</div>
{{else}}
<div class="builders-tile">
    <img id="all-profile-pic" src="/images/default.jpg" alt="profile-pic">
    <h3><a href="/users/builder-profile/{{_id}}">{{username}}</a></h3>
</div>


{{/if}}

{{/each}}

{{else}}

<h3>No Results</h3>

{{/if}}






<div>
    <h3>Posts:</h3>

    {{#if postRes}}

    {{#each postRes}}
    <div class="builders-tile">
        <h3><a href="/post/post-details/{{id}}">{{title}}</a></h3>
        <p>{{description}}</p>
    </div>


    {{/each}}

    {{else}}

    <h3>No Results</h3>

    {{/if}}


</div>