<h2>Welcome to Builders Paradise</h2>


<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#newPost">
    Create Post
</button>


{{#if posts}}

{{#each posts}}
<div>

    <h4><a href="/post/post-details/{{id}}">{{title}}</a></h4>
    <p>{{description}}</p>
    <img class="main-page-picture" src={{imageUrl}} alt="picture">
    <h5><a href="/users/builder-profile/{{owner._id}}">@{{owner.username}}</a></h5>
    <br>

    <hr>

</div>
{{/each}}


{{else}}

<h2>No Posts Yet</h2>


{{/if}}

<div class="modal fade" id="newPost" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Delete Post</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="/post/new-post" method="post" enctype="multipart/form-data">
                    <label>Title:
                        <input type="text" name="username" id="username">
                    </label>
                    <label>Description:
                        <textarea name="description" id="description" cols="30" rows="10"></textarea>

                        <label>Upload Image:
                            <input type="file" name="imageUrl" id="imageUrl">
                        </label>

                        <button type="submit" class="btn btn-primary">Upload</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </form>
            </div>
        </div>
    </div>
</div>