<h2>All Builders</h2>

{{#each builders}}

<div class="builders-tile">
    <div id="profile-pic-div">

        {{#if imageUrl}}

        <img class="image" id="all-profile-pic" src="{{imageUrl}}" alt="profile-picture">
        <br>

        {{else}}

        <img id="all-profile-pic" src="/images/default.jpg" alt="pic">
        <br>

        {{/if}}

    </div>
    <h4><a href="/users/builder-profile/{{_id}}">{{username}}</a></h4>
    <p>{{craft}}</p>


</div>


{{/each}}