<h2>All Builders</h2>

{{#each builders}}

<div>

    <h4><a href="/users/builder-profile/{{_id}}">{{username}}</a></h4>
    <h5>{{firstName}} {{lastName}}</h5>
    <p>{{craft}}</p>


    <hr>


</div>


{{/each}}