<h2>Builder Profile</h2>


<div>

    <h4>{{user.username}}</h4>
    <h5>{{user.firstName}} {{user.lastName}}</h5>
    <h5>{{user.email}}</h5>
    <p>{{user.craft}}</p>
    <p>Been perfecting my craft for {{user.years}} years.</p>

    <hr>


</div>

{{!-- {{#if posts}}

{{#each posts}}

<h2>{{title}}</h2>
<h4>{{description}}</h4>


{{/each}}

{{else}}

<h2>No Posts</h2>

{{/if}} --}}