<h2>Builder Profile</h2>


<div>
    <div id="profile-pic-div">

        {{#if user.imageUrl}}

        <img id="profile-pic" src="{{user.imageUrl}}" alt="profile-picture">
        <br>

        {{else}}

        <img id="profile-pic" src="/images/default.jpg" alt="pic">
        <br>

        {{/if}}

    </div>

    <h4>{{user.username}}</h4>
    <h5>{{user.firstName}} {{user.lastName}}</h5>
    <h5>{{user.email}}</h5>
    <p>{{user.craft}}</p>
    <p>Been perfecting my craft for {{user.years}} years.</p>

    <hr>


</div>

{{#if posts}}

{{#each posts}}

<h2><a href="/post/post-details/{{id}}">{{title}}</a></h2>
<h4>{{description}}</h4>
<br>
<hr>


{{/each}}

{{else}}

<h2>No Posts</h2>

{{/if}}