<h2>User Home Page</h2>

<a href="/users/update-profile/{{user._id}}">Update Profile</a>
<a href="/post/new-post">Create Post</a>

{{#if user.firstName}}
<h2>Welcome {{user.firstName}}</h2>
{{else}}
<h3><a href="/users/update-profile/{{user._id}}">Please update your profile</a></h3>




{{/if}}

<h2>Your Builds</h2>
<hr>

{{#if posts}}

{{#each posts}}

<h4>{{title}}</h4>
<h5>{{description}}</h5>
<br>
<a href="/post/update-post/{{id}}">Edit</a>

<hr>


{{/each}}

{{else}}

<h4>No Posts</h4>

{{/if}}